/* entypo icons */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

#text-container {
	width: 100vw;
	height: 100vh;
	margin: auto;
	/*
	border-style: solid;
	*/
	border-width: 7px;
	border-color: rgb(255, 126, 0);
	box-sizing: border-box;
	padding-top: 40vh;
}

h1 {
	text-align: center;
	font-family: Eurostile, sans-serif;
	font-size: 16px;
	color: rgb(219, 236, 250);
	z-index: 9999;
	text-transform: uppercase;
	letter-spacing: 0.2vw;
	line-height: 30px;
}

i {
	z-index: 9999;
	font-style:normal;
}

h2 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(255, 213, 0);
	text-shadow: rgb(119, 62, 7) 0px 5px;
	z-index: 9999;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 0.5vw;
}

a {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(219, 236, 250);
	z-index: 9999;
	text-decoration:none;
	font-style: normal;
}

p {
	z-index: 9999;
}

h3 {
	text-align: center;
	font-family: Pragmata TT, sans-serif;
	font-size: 12px;
	color: rgb(219, 236, 250);
	font-weight: 700;
	line-height:0px;
	z-index: 9999;
}

/* STARFIELD */

body {
	margin:0;
	padding:0;
	background-color:#343848;
	font-size:0;
	overflow:hidden;
}

div {
	margin:0;
	padding:0;
	position: fixed;
	overflow:hidden;
	z-index:-1;
}

canvas {
	background-color:#343848;
	overflow:hidden;
	z-index: -1;
}

/* STARFIELD ENDS */